<p><strong>Conditions d'utilisation essai GONG</strong></p>

<p>Dès réception de la demande de preuve de GONG et vérifié l'exactitude de l'information, envoyez l'email de contact figurant sur le formulaire avec un nom d'utilisateur et mot de passe unique et anonyme à chaque utilisateur / être envoyé à votre ADOPTÉE GONG essai.</p>

<p>Cela permettra un contrôle de sécurité de l'user lui-même / a de votre test, et l'entretien et les mesures de sécurité logicielle optimale et son test par les autres utilisateurs.</p>

<p><strong>Confidentialité essai politique GONG</strong></p>

<p>Conformément à la loi organique espagnol 15/1999 du 13 Décembre, la protection des données personnelles, nous vous informons que les données personnelles que vous fournissez sur le site Web de demo.gong.org.es, ou e-mail sera traité confidentiellement et feront partie d'un fichier appartenant à SEED de la Free Software SL qui a été dûment enregistré auprès de l'Agence espagnole de protection des données (Les www.agpd.es).</p>

<p>Vos données personnelles seront utilisées pour répondre à votre demande d'information, la gestion et la prestation des services offerts par Semilla de Software Libre SL, et d'envoyer des communications futures liées au degré de satisfaction et de consultations sur le logiciel utilisé.</p>

<p>Aussi, se il vous plaît noter que vous pouvez exercer vos droits d'accès, de rectification, annulation et opposition en vertu des dispositions de la loi organique 15/1999 du 13 Décembre, la protection des données personnelles en envoyant une lettre accompagnée d'une photocopie de votre ID, à l'adresse suivante: SEMILLA DE SOFTWARE LIBRE SL C / Hermanos Garcia Noblejas n ° 41 Bis 28037 Madrid (Madrid)</p>

<p>Les données demandées par l'user en utilisant des formes marquées d'un astérisque (*) sont strictement nécessaires pour fournir le service ou pour contacter l'user. Dans tous les cas, le défaut de fournir plus de données que strictement nécessaire sera une réduction de la qualité du service.</p>

<p>L'User garantit que les renseignements personnels fournis sont véridiques et est responsable de communiquer tout changement en eux. L'User est seul responsable de tout dommage, direct ou indirect, qui pourrait conduire à SEED de la Free Software SL ou tout tiers en raison de l'achèvement de formes avec fausses, inexactes, incomplètes ou périmées. Dans le cas où l'utilisateur y compris les données personnelles de tiers doit, préalablement à leur inscription, les informer des dispositions de la présente politique de confidentialité, étant le seul responsable de son inclusion.</p>