
<p><strong>Termos de uso de teste de GONG</strong></p>

<p>Assim que a sua solicitação de teste de GONG for recebida e comprovada a veracidade das informações, um correio eletrônico lhe será enviado ao endereço facilitado no formulário. O correio eletrônico conterá um nome de usuário e uma senha únicos e anônimos para cada solicitação de teste de GONG.</p>

<p>Desta forma, se garante a segurança do próprio usuário, assim como as condições de manutenção e segurança ótimas para que o software esteja disponível para outros usuários.</p>

<p><strong>Política de privacidade de teste de GONG</strong></p>

<p>No cumprimento da Lei Orgânica 15/1999, de 13 de dezembro, de Proteção de Informações de Caráter Pessoal, informamos que os dados pessoais que nos forneça através do site demo.gong.org.es, ou através do correio eletrônico serão confidenciais e serão incorporados a um banco de informações de titularidade de SEMILLA DE SOFTWARE LIBRE S.L. que está registrado na Agência Espanhola de Proteção de Dados (www.agpd.es).</p> 

<p>Seus dados pessoais serão usados para atendermos o seu pedido de informação, a gestão e a prestação dos serviços oferecidos por SEMILLA DE SOFTWARE LIBRE SL, assim como para lhe enviar futuras comunicações relacionadas com o grau de satisfação e consultas sobre o software utilizado.</p>

<p>Também informamos que você pode exercer os seus direitos de acesso, retificação, cancelamento e oposição nos termos do disposto na Lei Orgânica 15/1999, de 13 de Dezembro, de Protecção de Dados Pessoais, através do envio de uma carta com uma fotocópia da sua identidade para o seguinte endereço: SEMILLA DE SOFTWARE LIBRE SL C / Hermanos García Noblejas No. 41 Bis 28037 Madrid (Madrid).</p>

<p>Os dados solicitados ao Usuário através de formulários marcados com um asterisco (*) são os estritamente necessários para poder prestar o serviço ou entrar em contacto com o Usuário. Em caso algum, não fornecer mais informações do que aquelas estritamente necessárias suporá um declínio na qualidade do serviço.</p>

<p>O Usuário garante que as informações pessoais fornecidas são verdadeiras e é responsável por comunicar qualquer alteração das mesmas. O usuário é o único responsável por quaisquer danos, diretos ou indiretos, que possa causar a SEMILAS DE SOFTWARE LIVRE SL ou a terceiras pessoas devido ao preenchimento dos formulários com informações falsas, imprecisas, incompletas ou desatualizadas. No caso em que o usuário utilize dados pessoais de terceiras pessoas deverá, previamente à inclusão, informar essas pessoas sobre as disposições da presente política de privacidade, sendo que será o único responsável por sua inclusão.</p>

