
<p><strong>Condiciones de uso de prueba de GONG</strong></p>

<p>Una vez recibido la solicitud de prueba de GONG y comprobada la veracidad de los datos, se enviará un correo electrónico al correo de contacto introducido en el formulario 
con un nombre de usuario y una contraseña únicos y anónimos a cada usuaria/a para que efectuen su prueba de GONG.</p>

<p>Esto permitirá un control de seguridad del propio usuario/a de su prueba, y un mantenimiento y medidas de seguridad optimas del software, y de su prueba por parte del resto 
de usuarios.</p>

<p><strong>Política de privacidad de prueba de GONG</strong></p>

<p>En cumplimiento de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal, le informamos que los datos personales que nos suministre a través 
del portal demo.gong.org.es, o por correo electrónico serán tratados de forma confidencial y pasarán a formar parte de un fichero titularidad de SEMILLA DE SOFTWARE LIBRE S.L. 
que ha sido debidamente inscrito en la Agencia Española de Protección de Datos (www.agpd.es).</p> 

<p>Sus datos personales serán utilizados para atender su petición de información, la gestión y prestación de los servicios ofrecidos por SEMILLA DE SOFTWARE LIBRE S.L., y para el 
envío de futuras comunicaciones relacionadas con el grado de satisfación y consultas sobre el software utilizado.</p>

<p>Asimismo, le informamos que puede ejercitar sus derechos de acceso, rectificación, cancelación y oposición con arreglo a lo previsto en la Ley Orgánica 15/1999, de 13 de diciembre,
de Protección de Datos de Carácter Personal, enviando una carta junto con la fotocopia de su DNI, a la siguiente dirección: SEMILLA DE SOFTWARE LIBRE S.L. C/ Hermanos García Noblejas Nº 41 Bis 28037 Madrid (Madrid)</p>

<p>Los datos solicitados al Usuario mediante formularios indicados con un asterisco (*) serán los estrictamente necesarios para poder proporcionarle el servicio o para poder ponerse en 
contacto con el Usuario. En ningún caso, el hecho de no proporcionar más datos que los estrictamente necesarios supondrá una merma en la calidad del servicio.</p>

<p>El Usuario garantiza que los datos personales facilitados son veraces y se hace responsable de comunicar cualquier modificación en los mismos. El Usuario será el único 
responsable de cualquier daño o perjuicio, directo o indirecto, que pudiera ocasionar a SEMILLA DE SOFTWARE LIBRE S.L. o a cualquier tercero, a causa de la cumplimentación 
de los formularios con datos falsos, inexactos, incompletos o no actualizados. En el caso de que el Usuario incluya datos de carácter personal de terceros deberá, con carácter 
previo a su inclusión, informarles de lo establecido en la presente política de privacidad, siendo el único responsable de su inclusión.</p>

