<p><%= _("El usuario %{nombre} (%{nombre_completo}) ha sido asignado al %{tipo_objeto}") % {:nombre => @usuario_asignado.nombre, :nombre_completo => @usuario_asignado.nombre_completo, :tipo_objeto => @objeto.class.name} %>&nbsp;<%= link_to(@objeto_nombre, @url) %></p>
